{% extends "layout.html" %}
{% block body %}
	<div class="col-md-6">
		<h1>Enter variables</h1>
		<hr />
		<pre>{{ playscript }}</pre>
		<form action="{{ url_for('play') }}" method="post">
			<input type="hidden" value="{{ playbook }}" name="playbook">
			<div class="form-group">
				{% for variable in extra_vars %}
				<label for="variables">{{variable}}</label>
				<input type="text" class="form-control" name="{{ variable }}" placeholder="{{ variable }}">
				{% endfor %}
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="col-md-6">
		<h1>Hosts</h1>
		{% for group in hosts %}
			<h3>{{ group }}</h3>
			<hr />
			{% for host in hosts[group] %}
			<h5>{{ host }}</h5>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
